*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

.glyph-thumbnail {
    width: 1em;
    height: auto;
    image-rendering: pixelated;
}

#preview-canvas {
    image-rendering: pixelated;
}

div p {
    margin: 1em;
}

main {
    max-width: 60em;
    margin: 1em auto;
}

.control-tray {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.control-tray > * {
    flex: 1;
}

.control-container {
    margin: 3px;
    border-style: double;
}

.image-selection-control {
    max-height: 10em;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.image-selection-control * {
    object-fit: contain;
}

.image-selection-control img {
    min-width: 0;
    min-height: 0;
}

#levels {
    display: flex;
    flex-direction: column;
}

.level {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.level-glyph-input {
    text-align: center;
}
